<mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">Frontend</button>
  <button mat-menu-item >Backend</button>
  
  </mat-menu>
  
  <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
  
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
  </mat-menu>
  
  <mat-menu #lazyMenu="matMenu">
  <ng-template matMenuContent let-name="name" let-hobby="hobby">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Hobby is {{hobby}}</button>
  <button mat-menu-item>Logout {{name}}</button>
  
  </ng-template>
  
  </mat-menu>
  <button mat-raised-button [matMenuTriggerData]="{name:'Gokul',hobby:'football'}" [matMenuTriggerFor]="lazyMenu">Gokul</button>
  <button mat-raised-button  [matMenuTriggerData]="{name:'Angular',hobby:'teaching'}" [matMenuTriggerFor]="lazyMenu">Angular</button>
  
  
  <mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 2</mat-list-item>
  <mat-list-item>Item 3</mat-list-item>
  
  </mat-list>
  
  <mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <a mat-list-item href="#">About</a>
    <a mat-list-item href="#">Services</a>
  </mat-nav-list>
  
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>Home</mat-icon>
    <h3 matLine>heading</h3>
     <p matLine>Line</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListIcon>Folder</mat-icon>
    <h3 matLine>heading2</h3>
     <p matLine>Line2</p>
    </mat-list-item>
  </mat-list>


  <mat-grid-list cols="2" rowHeight="fit" style="height: 200px;" gutterSize="10px;">
    <mat-grid-tile>Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
  </mat-grid-list>

  <mat-accordion multi="true" hideToggle>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular fundamentals
      </mat-panel-title>
<mat-panel-description>
  Total description:3 hours
</mat-panel-description>

    </mat-expansion-panel-header>
    <p>This is the panel content.Add course details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular fundamentals part 2
      </mat-panel-title>
<mat-panel-description>
  Total description:2 hours
</mat-panel-description>

    </mat-expansion-panel-header>
    <p>This is the panel content.Add course details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

<mat-card>
  <mat-card-title>
    <mat-card-content>
      This is the card content
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button>Login</button>
    </mat-card-actions>
  </mat-card-title>
</mat-card>

<mat-tab-group>
  <mat-tab label="Angular">Angular content</mat-tab>
  <mat-tab label="react">react content</mat-tab>
  <mat-tab label="vue">vue content</mat-tab>
</mat-tab-group>