<mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">Frontend</button>
  <button mat-menu-item >Backend</button>
  
  </mat-menu>
  
  <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
  
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
  </mat-menu>
  
  <mat-menu #lazyMenu="matMenu">
  <ng-template matMenuContent let-name="name" let-hobby="hobby">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Hobby is {{hobby}}</button>
  <button mat-menu-item>Logout {{name}}</button>
  
  </ng-template>
  
  </mat-menu>
  <button mat-raised-button [matMenuTriggerData]="{name:'Gokul',hobby:'football'}" [matMenuTriggerFor]="lazyMenu">Gokul</button>
  <button mat-raised-button  [matMenuTriggerData]="{name:'Angular',hobby:'teaching'}" [matMenuTriggerFor]="lazyMenu">Angular</button>
  
  
  <mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 2</mat-list-item>
  <mat-list-item>Item 3</mat-list-item>
  
  </mat-list>
  
  <mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <a mat-list-item href="#">About</a>
    <a mat-list-item href="#">Services</a>
  </mat-nav-list>
  
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>Home</mat-icon>
    <h3 matLine>heading</h3>
     <p matLine>Line</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListIcon>Folder</mat-icon>
    <h3 matLine>heading2</h3>
     <p matLine>Line2</p>
    </mat-list-item>
  </mat-list>


  <mat-grid-list cols="2" rowHeight="fit" style="height: 200px;" gutterSize="10px;">
    <mat-grid-tile>Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
  </mat-grid-list>

  <mat-accordion multi="true" hideToggle>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular fundamentals
      </mat-panel-title>
<mat-panel-description>
  Total description:3 hours
</mat-panel-description>

    </mat-expansion-panel-header>
    <p>This is the panel content.Add course details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular fundamentals part 2
      </mat-panel-title>
<mat-panel-description>
  Total description:2 hours
</mat-panel-description>

    </mat-expansion-panel-header>
    <p>This is the panel content.Add course details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

<mat-card>
  <mat-card-title>
    <mat-card-content>
      This is the card content
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button>Login</button>
    </mat-card-actions>
  </mat-card-title>
</mat-card>

<mat-tab-group #tabRef>
  <mat-tab label="Angular">Angular content</mat-tab>
  <mat-tab label="react">react content</mat-tab>
  <mat-tab label="vue">vue content</mat-tab>
</mat-tab-group>
{{tabRef.selectedIndex}}

<mat-vertical-stepper>
  <mat-step label="Shipping address" completed="true">
  </mat-step>
  <mat-step label="Billing address" completed="false">
    <p>Billing address details</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Place order" completed="true">
    <p>Order details</p>
  </mat-step>

</mat-vertical-stepper>

<mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill" color="accent">
  <mat-label>Name</mat-label>
  <input matInput required/>
  <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>

<mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="warn">
  <mat-label>Name</mat-label>
  <input matInput required/>
  <mat-hint align="end">Min 5 characters</mat-hint>

</mat-form-field>

<mat-form-field>
  <mat-label>Topic</mat-label>
  <mat-select [(value)]="selectedValue" multiple>
    <mat-option>None</mat-option>
    <mat-optgroup label="Web">
      <mat-option value="angular">Angular</mat-option>
      <mat-option value="react">React</mat-option>
      <mat-option value="vue">Vue</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Mobile">
      <mat-option value="ionic">Ionic</mat-option>
      <mat-option value="reactnative">React Native</mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>

<form>
  <mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl"/>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions|async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-checkbox>
  Subscribe
</mat-checkbox>
<br>
<mat-checkbox labelPosition="before">
  Subscribe
</mat-checkbox>
<br>
<mat-checkbox color="accent">
  Subscribe
</mat-checkbox>
<br>
<mat-checkbox color="yarn">
  Subscribe
</mat-checkbox>

<mat-radio-group>
  <mat-radio-button value="angular" color="primary">Angular</mat-radio-button>
  <mat-radio-button value="react" color="accent">React</mat-radio-button>
  <mat-radio-button value="vue" color="warn">Vue</mat-radio-button>
</mat-radio-group>

<button
mat-raised-button
matTooltip="welcome to angular"
matTooltipPosition="before"
matTooltipShowDelay="2000"
matTooltipHideDelay="2000">Hello</button>